{% load static %}
<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>凯露酱档案馆</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <!--Load the AJAX API-->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            // Load the Visualization API and the corechart package.
            google.charts.load('current', {'packages':['corechart']});

            // Set a callback to run when the Google Visualization API is loaded.
            google.charts.setOnLoadCallback(drawChart);

            // Callback that creates and populates a data table,
            // instantiates the pie chart, passes in the data and
            // draws it.
            function drawChart() {

                // Create the data table.
                raw_data_table = {{ damage_bar_data|safe }};
                raw_data_table[0].push({ role: 'annotation' });
                var data = google.visualization.arrayToDataTable(raw_data_table);

                // Set chart options
                var chartwidth = $('#chartparent').width();
                var options = {
                    width: chartwidth,
                    height: (raw_data_table.length - 1) * 30,
                    chartArea: {left:"25%",top:"5%", bottom:"5%", right:"10%",width:'100%',height:'100%'},
                    legend: { position: 'top'},
                    bar: { groupWidth: '75%' },
                    backgroundColor: { fill: "transparent" },
                    isStacked: true
                };

                // Instantiate and draw our chart, passing in some options.
                var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            };
        </script>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/user">凯露酱档案馆</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>
        
        <!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/user">主页</a></li>
					<li><a href="/user/setpwd">修改密码</a></li>
					<li><a href="/battle/mybattle">我的公会战</a></li>
					<li><a href="/battle/guildbattle">公会总记录</a></li>
					<li><a href="/guild/tools">小工具</a></li>
					<li><a href="/user">优秀员工墙(施工中)</a></li>
					<li><a href="/user">管理公会(施工中)</a></li>
					<li><a href="/user/logout">退出登录</a></li>
				</ul>
			</nav>

		<!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h1>凯露酱的公会档案馆</h1>
                <br></br>
                <div class="kyaru">
                    <div class="image">
                        <img src="{% static 'images/kyaru.jpg' %}" alt="" />
                    </div>
                    <div class="kyarutalk">
                        {% if message %}
                        <p class="alert-warning">{{message}}</p>
                        {% else %}
                        <p class="kyarutalktext">这里是全公会伤害记录面板~点击列名可以按该列排序噢~</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
                    <div class="content">
                        <h2>公会总伤害记录</h2>
                        <div class="row gtr-uniform">
                            <div class="col-12">
                                <div class="tab-head">
                                    {% for d in battle_date_list %}
                                    <h3 id="tabhead{{forloop.counter}}">{{d}}</h3>
                                    {% endfor %}
                                    <h3 id="tabhead_all">总记录</h3>
                                </div>
                                <script>
                                    var now_day_id = {{now_day_id}};
                                    if (now_day_id < 0){
                                        tab = document.getElementById('tabhead_all');
                                        tab.className = 'selected'
                                    }
                                    else{
                                        tab = document.getElementById('tabhead' + now_day_id.toString());
                                        tab.className = 'selected'
                                    }
                                </script>
                            </div>
                        </div>
                        <div class="tab-content">
                            {% for records in battle_record_list_by_day %}
                            <div class="hide" id="tabcontent{{forloop.counter}}">
                                <div class="table-wrapper">
                                    <table class="alt">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">昵称</th>
                                                <th colspan="2">第一刀</th>
                                                <th colspan="2">第二刀</th>
                                                <th colspan="2">第三刀</th>
                                                <th rowspan="2">积分</th>
                                            </tr>
                                            <tr>
                                                <th>伤害</th>
                                                <th>补偿刀</th>
                                                <th>伤害</th>
                                                <th>补偿刀</th>
                                                <th>伤害</th>
                                                <th>补偿刀</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for one_record in records %}
                                            <tr>
                                                <td><a href="/battle/mybattle?queryqq={{one_record.user_qq}}">{{one_record.user_name}}</a></td>
                                                <td>{{one_record.damage_0}}</td>
                                                <td>{{one_record.comp_0}}</td>
                                                <td>{{one_record.damage_1}}</td>
                                                <td>{{one_record.comp_1}}</td>
                                                <td>{{one_record.damage_2}}</td>
                                                <td>{{one_record.comp_2}}</td>
                                                <td>{{one_record.score}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="hide" id="tabcontent_all">
                                <div class="table-wrapper">
                                    <table class="alt">
                                        <thead>
                                            <tr>
                                                <th>昵称</th>
                                                <th>困难boss出刀数</th>
                                                <th>累积出刀数</th>
                                                <th>应出刀数</th>
                                                <th>总伤害</th>
                                                <th>总积分</th>
                                                <th>积分/伤害</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for user_stat in user_battle_stat_list %}
                                            <tr>
                                                <td><a href="/battle/mybattle?queryqq={{user_stat.user_qq}}">{{user_stat.user_name}}</a></td>
                                                <td>{{user_stat.difficult_report_num}}</td>
                                                <td>{{user_stat.total_report_num}}</td>
                                                <td>{{user_stat.max_report_num}}</td>
                                                <td>{{user_stat.total_damage}}</td>
                                                <td>{{user_stat.total_score}}</td>
                                                <td>{{user_stat.score_fac}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        </tfoot>
                                    </table>
                                </div>
                                <h2><br>伤害图表</h2>
                                <div class="damage_chart" id="chart_div"></div>
                            </div>
                            <script>
                                var now_day_id = {{now_day_id}};
                                if(now_day_id < 0){
                                    content = document.getElementById('tabcontent_all');
                                    content.className = 'show'
                                }
                                else{
                                    content = document.getElementById('tabcontent' + now_day_id.toString());
                                    content.className = 'show'
                                }
                            </script>
                        </div>
                    </div>
				</div>
            </section>

		<!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="copyright">
                    &copy;SkyF.
                </div>
            </div>
        </footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
            <script src="{% static 'assets/js/day_tab.js' %}"></script>
            <script src="{% static 'assets/js/table_sort.js' %}"></script>
            
	</body>
</html>