{% load static %}
<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>凯露酱档案馆</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a class="logo" href="/user">凯露酱档案馆</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>
        
        <!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/user">主页</a></li>
					<li><a href="/user/setpwd">修改密码</a></li>
					<li><a href="/battle/mybattle">我的公会战</a></li>
					<li><a href="/user">公会战总记录</a></li>
					<li><a href="/user">小工具</a></li>
					<li><a href="/user">名人堂</a></li>
					<li><a href="/user">管理公会</a></li>
					<li><a href="/user/logout">退出登录</a></li>
				</ul>
			</nav>

		<!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h1>凯露酱的公会档案馆</h1>
                <br></br>
                <div class="kyaru">
                    <div class="image">
                        <img src="{% static 'images/kyaru.jpg' %}" alt="" />
                    </div>
                    <div class="kyarutalk">
                        {% if message %}
                        <p class="alert-warning">{{message}}</p>
                        {% else %}
                        <p class="kyarutalktext">这里是个人公会战伤害记录面板~</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
                    <div class="content">
                        {% if self_page %}
                        <form method="post" action="/battle/mybattle">
                            {% csrf_token %}
                            <div class="row gtr-uniform">
                                <div class="col-2 col-6-medium">
                                    {{ battle_record_form.boss_stage.label_tag}}
                                    {{ battle_record_form.boss_stage}}
                                </div>
                                <div class="col-2 col-6-medium">
                                    {{ battle_record_form.boss_id.label_tag}}
                                    {{ battle_record_form.boss_id}}
                                </div>
                                <div class="col-4 col-12-medium">
                                    {{ battle_record_form.damage.label_tag}}
                                    {{ battle_record_form.damage}}
                                </div>
                                <div class="col-4 col-12-medium">
                                    {{ battle_record_form.record_date.label_tag}}
                                    {{ battle_record_form.record_date}}
                                </div>
                                <div class="col-2 col-6-medium">
                                    {{ battle_record_form.final_kill}}
                                    {{ battle_record_form.final_kill.label_tag}}
                                    <!-- <input type="checkbox" id="final_kill" name="checkbox"> -->
                                    <!-- <label for="final_kill">尾刀</label> -->
                                </div>
                                <div class="col-2 col-6-medium">
                                    {{ battle_record_form.comp_flag}}
                                    {{ battle_record_form.comp_flag.label_tag}}
                                    <!-- <input type="checkbox" id="comp_flag" name="checkbox"> -->
                                    <!-- <label for="comp_flag">补偿刀</label> -->
                                </div>
                                <div class="col-8 col-12-medium">
                                    <ul class="actions">
                                        <li><input type="submit" value="提交" class="primary" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        {% endif %}
                    </div>
				</div>
            </section>
        
        <!-- CTA -->
			<section id="cta" class="wrapper" margin=>
				<div class="inner">
					<p>今天三刀出了吗出了吗出了吗出了吗出了吗出了吗</p>
				</div>
			</section>
        
        <!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
                    <div class="content">
                        <h2>个人伤害记录</h2>
                        <div class="row gtr-uniform">
                            <div class="col-12">
                                <div class="tab-head">
                                    <h3 class="selected">6月2日</h3>
                                    <h3>6月3日</h3>
                                    <h3>6月4日</h3>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="show">
                                <div class="table-wrapper">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Alpha</td>
                                                <td>Ante turpis integer aliquet porttitor.</td>
                                                <td>10.00</td>
                                            </tr>
                                            <tr>
                                                <td>Beta</td>
                                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                                <td>20.00</td>
                                            </tr>
                                            <tr>
                                                <td>Gamma</td>
                                                <td>Morbi faucibus arcu accumsan lorem.</td>
                                                <td>30.00</td>
                                            </tr>
                                            <tr>
                                                <td>Delta</td>
                                                <td>Vitae integer tempus condimentum.</td>
                                                <td>40.00</td>
                                            </tr>
                                            <tr>
                                                <td>Epsilon</td>
                                                <td>Ante turpis integer aliquet porttitor.</td>
                                                <td>50.00</td>
                                            </tr>
                                            <tr>
                                                <td>Zeta</td>
                                                <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                                <td>60.00</td>
                                            </tr>
                                            <tr>
                                                <td>Eta</td>
                                                <td>Morbi faucibus arcu accumsan lorem.</td>
                                                <td>70.00</td>
                                            </tr>
                                            <tr>
                                                <td>Theta</td>
                                                <td>Vitae integer tempus condimentum.</td>
                                                <td>80.00</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2"></td>
                                                <td>360.00</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="hide">
                                content2
                            </div>
                            <div class="hide">
                                content3
                            </div>
                        </div>
                    </div>
				</div>
            </section>

		<!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="copyright">
                    &copy;SkyF.
                </div>
            </div>
        </footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
            <!-- <script src="{% static 'assets/js/day_tab.js' %}"></script> -->
            <script>
                var tabs = document.getElementsByClassName('tab-head')[0].getElementsByTagName('h3'),
                contents = document.getElementsByClassName('tab-content')[0].getElementsByTagName('div');

                (function changeTab(tab) {
                    for(var i = 0, len = tabs.length; i < len; i++) {
                        tabs[i].onmousedown = showTab;
                    }
                })();

                function showTab() {
                    for(var i = 0, len = tabs.length; i < len; i++) {
                        if(tabs[i] === this) {
                            tabs[i].className = 'selected';
                            contents[i].className = 'show';
                        } else {
                            tabs[i].className = '';
                            contents[i].className = 'hide';
                        }
                    }
                }
            </script>
			

	</body>
</html>